# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Study Materials\课设-实训\Web与数据库实训\云工厂\Web\软件1908_20195407_周汝轩\源代码_软件1908_周汝轩\factory06\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
